<h1>Listing credit_cards</h1>

<table>
  <tr>
    <th>User email</th>
    <th>Credit card first name</th>
    <th>Credit card last name</th>
    <th>Credit card number</th>
    <th>Credit card verification value</th>
    <th>Credit card month</th>
    <th>Credit card year</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @credit_cards.each do |credit_card| %>
  <tr>
    <td><%= credit_card.user_email %></td>
    <td><%= credit_card.credit_card_first_name %></td>
    <td><%= credit_card.credit_card_last_name %></td>
    <td><%= credit_card.credit_card_number %></td>
    <td><%= credit_card.credit_card_verification_value %></td>
    <td><%= credit_card.credit_card_month %></td>
    <td><%= credit_card.credit_card_year %></td>
    <td><%= link_to 'Show', credit_card %></td>
    <td><%= link_to 'Edit', edit_credit_card_path(credit_card) %></td>
    <td><%= link_to 'Destroy', credit_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Credit card', new_credit_card_path %>
