<%= form_for(@review, html: {class: "form-horizontal"}) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="container">
  <div class="control-group">
    <%= f.label :restaurant, class: 'control-label' %> <br />
    <div class="controls">
    	<%= f.text_field :restaurant %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :opinion, class: 'control-label' %> <br />
    <div class="controls">
    	<%= f.text_area :opinion %>
    </div>
  </div>
  
  <div class="control-group">
  	<label class ="control-label">Would You Eat Here?</label>
  	<div class="controls">
  		<label class="radio">
  			<%= radio_button_tag(:YesNo, "Yes") %>
  			<%= label_tag(:YesNo_Yes, "Yeah, I love this place!") %>
		</label>
		<label class="radio">
  			<%= radio_button_tag(:YesNo, "No") %>
  			<%= label_tag(:YesNo_No, "No, I've had better") %>
		</label>
  	</div>	
  </div>
  
  <div class="form-actions">
    <%= f.submit class: "btn btn-success" %>
  </div>
 </div>
<% end %>
