<p id="notice"><%= notice %></p>

<p>
  <b>Restaurant:</b>
  <%= @review.restaurant %>
</p>

<p>
  <b>Opinion:</b>
  <%= @review.opinion %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
