<!DOCTYPE html>
<html>
<head>
  <title>Food Ordering With Friends!</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div class="container">
		
	<div class ="navbar navbar-inverse navbar-fixed-top">
		<div class ="navbar-inner">
			<div class ="container">
         	 	<a class="brand" href="/">Home</a>
         	 	<div class = "nav-collapse collapse">
         	 		<ul class="nav">
         	 			<li>
         	 				<%= link_to "Orders", orders_path %>
         	 			</li>
         	 			<li>
         	 				<%= link_to "Friends", friends_path %>
         	 			</li>
         	 			<li>
         	 				<%= link_to "Reviews", reviews_path %>
         	 			</li>
         	 		</ul>
         	  <% if user_signed_in? %>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-inverse pull-right' %>
              <% else %>
              <%= form_for(User.new, url: session_path(:user), html: { class: 'navbar-form pull-right' }) do |f| %>
              <%= f.email_field :email, placeholder: "Email" %>
              <%= f.password_field :password, placeholder: "Password" %>
              <%= f.submit 'Sign in', class: 'btn btn-primary' %>
              <% end %>
              <% end %>
         	 </div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
		<% if alert %>
			<div class="alert alert-error"> <%= alert %> </div>
		<% end %>
		<% if notice %>
			<div class="notice notice-error"> <%= notice %> </div>
		<% end %>			
		<p></p>
		<%= yield %>
	</div>
</body>
</html>
